<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
<title>Welcome Project</title>
</head>
<body>
	<nav th:replace="layouts :: navbar"></nav>

	<h1>Welcome!</h1>
	<br>
	<p>Welcome to the project creator. This version is the beta and its
		promt to be modified.</p>
	<br>

	<div>
		<h4>Current Projects:</h4>
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}"></td>
					<td th:text="${aProject.stage}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<br>
	<div>
		<h4>Current Employees:</h4>
		<table>
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Employee Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employee}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<br>

	<div>Use bellow button to surf arround the currently developed
		application:</div>
	<br>
	<form action="/projects/new">
		<button type="submit">Create New Project</button>
	</form>
	<form action="/employee/new">
		<button type="submit">Add a new Employee</button>
	</form>


</body>
</html>